@use '../utils/utils';

.about{
    @include utils.border(0,top);
    @include utils.border(0,bottom);
    width: 80vw;
    margin: 0 auto;
    padding: 2rem;
}

.about__content{
    width: 100%;
    @include utils.flex(row,center,center);
    gap: 2rem;
}

.about__image{
    border-radius: 50%;
    overflow: hidden;
    width: 50%;
    min-width: 50%;
    height: width;
}